@model Screenmedia.ToDo.Web.Models.ToDoNotes.ToDoNotesViewModel;

<div>
    @foreach (var toDoNote in @Model.ToDoNotes)
    {
        await Html.RenderPartialAsync("_ToDoNote", toDoNote);
    }
</div>