@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Screenmedia.ToDo.Web.Models.ToDoNotes.ToDoNotesViewModel;

@{
    ViewData["Title"] = @Localizer["List All ToDo Notes"];
}

<div>
    @foreach (var toDoNote in @Model.ToDoNotes)
    {
        await Html.RenderPartialAsync("_ToDoNote", toDoNote);
    }
</div>