@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome to the ToDo Tracker"]</h1>
</div>
<div>
    <p>@Localizer["Use the menu to access List and Create functionality. The list page allows you to Update and Delete ToDo notes."]</p>
</div>